.projects {
  display: flex;
  flex-direction: column;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  padding: 50px;
  height: auto;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.projectsTitle {
  padding: 0 60px;
  border: 1px solid #3b3440;
  border-left: #000000;
  border-right: #000000;
}

.projectsTitle h1 {
  font-weight: 300;
  font-size: 3rem;
  padding: 30px 30px;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
}

.projectCard {
  border: 1px solid #3b3440;
  padding: 20px;
  background-color: #000000;
  height: auto;
  width: 250px;
}

.projectImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
  margin-bottom: 100px;
}

.textBox {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.stackLabel {
  display: flex;
  width: fit-content;
  padding: 5px 10px;
  background-color: #3b3440;
  border-radius: 10px;
  font-size: 0.9rem;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.iconGroup {
  display: flex;
  gap: 10px;
}

.icon {
  height: 25px;
  padding: 7px;
  width: auto;
  border: 1px solid #3b3440;
  border-radius: 10px;
}

.icon:hover {
  background-color: #161616;
}

/* Responsive */
@media screen and (max-width: 1025px) {
  .projectsTitle h1 {
    font-weight: 300;
    font-size: 2.5rem;
    padding: 25px 25px;
  }
}

@media screen and (max-width: 768px) {
  .projectsTitle h1 {
    font-weight: 300;
    font-size: 2rem;
    padding: 20px 20px;
  }
}
