.projects {
  display: flex;
  flex-direction: column;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  padding: 50px;
  height: auto;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.projectCard {
  border: 1px solid #3b3440;
  border-radius: 10px;
  padding: 20px ;
  background-color: #000000;
}

.projectImage {
  height: 200px;
  width: auto;
  border-radius: 10px;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
}
