.hamMenu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: #000;
  border: 1px solid #3b3440;
  padding: 12px 16px;
  z-index: 2000;
}

.hamMenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 12px;
}

.hamMenu a:hover {
  opacity: 0.7;
}

.hamMenu a {
  color: white;
  text-decoration: none;
}
