.hero {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 20px;
  gap: 20px;
}

.title {
  font-size: 4rem;
}

.undertext {
  font-size: 2rem;
  font-weight: 200;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

button {
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
}

.workButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
}

.workButton:hover .arrow {
  transform: translateX(10px);
}

.cvButton {
  background-color: black;
  color: white;
}

.arrow {
  height: 25px;
  transition: transform 0.2s ease;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
}
