.hero {
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  background-color: #000000;
  height: 80vh;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
}
