.hero {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  background-color: #000000;
  padding: 20px;
  gap: 20px;
}

.title {
  font-size: 4rem;
}

.undertext {
  font-size: 2rem;
  font-weight: 200;
}

.buttonGroup {
  display: flex;
  gap: 30px;
}

button {
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.workButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
}

.cvButton {
  background-color: black;
  border: 1px solid white;
  color: white;
}

img {
  height: 25px;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
}
