.about {
  display: flex;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  background-color: #000000;
  height: auto;
}

.aboutTitle {
  padding: 0 60px;
  border: 1px solid #3b3440;
  border-left: #000000;
  border-right: #000000;
}

.aboutTitle h1 {
  font-weight: 300;
  font-size: 3rem;
  padding: 30px 30px;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descriptionBox span {
  font-weight: 300;
  font-size: 2.7rem;
}

.descriptionBox h1 {
  font-weight: 500;
  font-size: 2.7rem;
}

.descriptionBox p {
  font-weight: 300;
  font-size: 18px;
}

.left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3b3440;
  padding: 30px;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.imageFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b3440;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

img {
  height: 400px;
  width: auto;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
  margin-bottom: 100px;
}

/* Responsive */
@media screen and (max-width: 1025px) {
  .right {
    padding: 30px;
  }

  .imageFrame {
    height: 220px;
    width: 220px;
    overflow: hidden;
  }

  img {
    height: 290px;
    width: auto;
  }

  /* Text */
  .aboutTitle h1 {
    font-weight: 300;
    font-size: 2.5rem;
    padding: 25px 25px;
  }

  .aboutTitle {
    padding: 0 40px;
  }

  .descriptionBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .descriptionBox span {
    font-weight: 300;
    font-size: 2.3rem;
  }

  .descriptionBox h1 {
    font-weight: 500;
    font-size: 2.3rem;
  }

  .descriptionBox p {
    font-weight: 300;
    font-size: 17px;
  }

  .outerContainer {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .right {
    padding: 20px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .imageFrame {
    height: 175px;
    width: 175px;
    overflow: hidden;
  }

  img {
    height: 250px;
    width: auto;
  }

  /* Text */
  .aboutTitle h1 {
    font-weight: 300;
    font-size: 2rem;
    padding: 20px 20px;
  }

  .aboutTitle {
    padding: 0 20px;
  }

  .descriptionBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .descriptionBox span {
    font-weight: 300;
    font-size: 1.7rem;
  }

  .descriptionBox h1 {
    font-weight: 500;
    font-size: 1.7rem;
  }

  .descriptionBox p {
    font-weight: 300;
    font-size: 16px;
  }

  .outerContainer {
    padding: 0 20px;
  }
}
