.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  background-color: #000000;
  height: auto;
}

.aboutTitle {
  padding: 0 60px;
  border: 1px solid #3b3440;
  border-left: #000000;
  border-right: #000000;
}

.aboutTitle h1 {
  padding: 40px 20px;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.descriptionBox span {
  font-weight: 300;
  font-size: 2.7rem;
}

.descriptionBox h1 {
  font-weight: 500;
  font-size: 2.7rem;
}

.descriptionBox p {
  font-weight: 300;
  font-size: 18px;
}

.left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #3b3440;
  padding: 30px;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.imageFrame {
  border: 1px solid #3b3440;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.buttonGroup {
  display: flex;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
}
