.contact {
  display: flex;
  flex-direction: column;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  background-color: #000000;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
}
