.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3b3440;
  border-top: #16171d;
  padding: 20px;
  background-color: #16171d;
}

.name {
  text-decoration: none;
  color: white;
}

.name:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar li:hover {
  cursor: pointer;
  opacity: 0.5;
}
