.header {
  position: fixed;
  top: 0;
  left: 60px;
  right: 60px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
  background: #000000;
  border: 1px solid #3b3440;
  border-top: #000000;
  z-index: 1000;
}

.name {
  text-decoration: none;
  color: white;
}

.name:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar li:hover {
  cursor: pointer;
  opacity: 0.5;
}
