.header {
  position: fixed;
  top: 0;
  left: 60px;
  right: 60px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px;
  background: #000000;
  border: 1px solid #3b3440;
  border-top: #000000;
  z-index: 1000;
}

.name {
  text-decoration: none;
  color: white;
}

.name:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar li {
  font-size: 20px;
}

.navbar li:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* Responsive Header */
/* Hamburger Menu */
.menuButton {
  display: none;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.menuButton img {
  height: 30px;
  width: 30px;
  display: block;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .menuButton {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
