.skills {
  display: flex;
  flex-direction: column;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  background-color: #000000;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.stackItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
}

.logoIcon {
  height: 45px;
  width: auto;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  gap: 5px;
  border: 1px solid #3b3440;
  border-radius: 10px;
  background-color: #000000;
  padding: 20px;
}
