.skills {
  display: flex;
  flex-direction: column;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
  background-color: #000000;
  min-height: 50vh;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.skillsTitle {
  padding: 0 60px;
  border: 1px solid #3b3440;
  border-left: #000000;
  border-right: #000000;
}

.skillsTitle h1 {
  font-weight: 300;
  font-size: 3rem;
  padding: 30px 30px;
  border: 1px solid #3b3440;
  border-top: #000000;
  border-bottom: #000000;
}

.stackItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.outerContainer {
  border-top: 1px solid #3b3440;
  border-bottom: 1px solid #3b3440;
  padding: 0 60px;
  margin-bottom: 100px;
}

.logoIcon {
  height: 45px;
  width: auto;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  gap: 5px;
  border: 1px solid #3b3440;
  border-radius: 10px;
  background-color: #000000;
  padding: 20px;
}

.item:hover {
  cursor: pointer;
  background-color: #161616;
}

/* Responsive */
@media screen and (max-width: 1025px) {
  .skillsTitle h1 {
    font-weight: 300;
    font-size: 2.5rem;
    padding: 25px 25px;
  }

  .skillsTitle {
    padding: 0 40px;
  }

  .outerContainer {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .skillsTitle h1 {
    font-weight: 300;
    font-size: 2rem;
    padding: 20px 20px;
  }

  .skillsTitle {
    padding: 0 20px;
  }

  .outerContainer {
    padding: 0 20px;
  }
}
