.skills {
  display: flex;
  flex-direction: column;
  border: 1px solid #3b3440;
  background-color: #16171d;
  border-radius: 10px;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.skills li {
  border: 1px solid #3b3440;
  background-color: #16171d;
}