.skills {
  display: flex;
  flex-direction: column;
  border: 1px solid #3b3440;
  background-color: #16171d;
  border-radius: 10px;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.stackItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.stackItems li {
  border: 1px solid #3b3440;
  border-radius: 10px;
  background-color: #16171d;
  padding: 20px;
}
