/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  background-color: #16171d;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0 60px;
}

body {
  margin: 0;
  padding-top: 50px;
  background-color: #16171d;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
