/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding-top: 76px;
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
