/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  background-color: #16171d;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0 50px;
}

body {
  margin: 0;
  background-color: #3b3440;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}
